.parent {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 3;
}
.div2 {
  grid-area: 2 / 1 / 4 / 8;
}
.div3 {
  grid-area: 4 / 1 / 8 / 11;
}
.div4 {
  grid-area: 8 / 1 / 11 / 3;
}
.div5 {
  grid-area: 8 / 3 / 11 / 6;
}
.div6 {
  grid-area: 8 / 7 / 11 / 11;
}
